*{
    margin:0;
    padding: 0;
    max-width: 100%;
    height: auto;
    font-family: boogaloo;
    }
body {
      margin: 15px;
      background-color: rgb(3, 9, 91);
      color: white;
    } 
header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  width: 90vw;
}
header strong{
  font-size: 80px;
}
.contenedorProductos{
  display: grid;
  grid-template-columns: repeat(auto-fill, 50%);
    }

.product img{
width: 400px;
height: 400px;
}  


    